* {
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --blue: hsl(228, 45%, 44%);

    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);

    --HeadingFonts: "Young Serif", serif;
    ---pgFonts: "Outfit", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--Eggshell);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Overall styling for headers and text */
h1, h2 {
    font-family: var(--HeadingFonts);
    font-weight: lighter;
}

p, h3, li, .nutrition-item {
    font-family: var(---pgFonts);
}

ul, ol {
    padding-left: 20px; /* Create space for the bullets from the left side */
}
  
li {
    padding-left: 15px; /* Create space BETWEEN bullet points and the text */
}


/* Color Styling */
/* Set the color for the BULLET POINTS and NUMBERED LISTS */
.ingredients-container ul li::marker, ol li::marker {
    color: var(--Nutmeg);
    font-weight: 700;
}

.prepTime-container ul li::marker {
    color: var(--DarkRaspberry);
}

/* Keep the TEXT color separate from bullet points */
h2, .value {
    color: var(--Nutmeg);
}

p, li, .label {
    color: var(--WengeBrown);
}

h1 {
    color: var(--DarkCharcoal);
}


/* Styling the Recipe Card */
.recipe-card {
    background-color: var(--White);
    width: 50%;
    margin: 6rem;
    padding: 2rem;
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 15px;
}


/* Prep Section */
.prepTime-container {
    padding: 10px 0 10px 20px;
    border-radius: 10px;
    background-color: var(--RoseWhite);
    margin-bottom: 25px;
    margin-top: 30px;
}

.prepTime-container h3 {
    color: var(--DarkRaspberry)
}

.prepTime-container li {
    padding-bottom: 12px;
}


/* Ingredients and Instructions Section */
.ingredients-container li, .instructions-container li {
    padding-bottom: 12px;
}


/* Nutrition Section */
.nutrition-container p {
    margin-bottom: 22px;
}

.nutrition-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.label {
    flex: 1;
    margin-left: 28px;
}

.value {
    flex: 1;
    font-weight: 700;
}

hr {
    margin: 5px 0px;
    border: none;
    border-bottom: 1px solid var(--LightGrey);
}


/* Attribution Section */
.attribution {
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.attribution a {
    color: var(--blue)
}